# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [22]:
import pandas as pd
import numpy as np# .. your code here ..

As per usual, load up the specified dataset, setting appropriate header labels.

In [23]:
df = pd.read_csv('C:/Users/838521/Documents/TCS Internal/Python Workspace/DAT210x/Module2/Datasets/census.data', names = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])# .. your code here ..
print(df.head())

   education  age capital-gain   race  capital-loss  hours-per-week     sex  \
0  Bachelors   39         2174  White             0              40    Male
1  Bachelors   50            ?  White             0              13    Male
2    HS-grad   38            ?  White             0              40    Male
3       11th   53            ?  Black             0              40    Male
4  Bachelors   28            0  Black             0              40  Female

  classification
0          <=50K
1          <=50K
2          <=50K
3          <=50K
4          <=50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [28]:
# .. your code here ..
df[df == 0] = np.nan
print(df)
print(df.dtypes)

          education  age capital-gain                race  capital-loss  \
0         Bachelors   39         2174               White           NaN
1         Bachelors   50            ?               White           NaN
2           HS-grad   38            ?               White           NaN
3              11th   53            ?               Black           NaN
4         Bachelors   28            0               Black           NaN
5           Masters   37            0               White           NaN
6               9th   49            0               Black           NaN
7           HS-grad   52            0               White           NaN
8           Masters   31        14084               White           NaN
9         Bachelors   42         5178               White           NaN
10     Some-college   37            0               Black           NaN
11        Bachelors   30            0  Asian-Pac-Islander           NaN
12        Bachelors   23            0               White           NaN
13          7th-8th   34            0  Amer-Indian-Eskimo           NaN
14          HS-grad   25            0               White           NaN
15          HS-grad   32            0               White           NaN
16             11th   38            0               White           NaN
17          Masters   43            0               White           NaN
18        Doctorate   40            0               White           NaN
19          HS-grad   54            0               Black           NaN
20              9th   35            0               Black           NaN
21             11th   43            0               White        2042.0
22          HS-grad   59            0               White           NaN
23        Bachelors   56            0               White           NaN
24          HS-grad   19            0               White           NaN
25     Some-college   54            0  Asian-Pac-Islander           NaN
26          HS-grad   39            0               White           NaN
27          HS-grad   49            0               White           NaN
28     Some-college   20            0               Black           NaN
29        Bachelors   45            0               White        1408.0
...             ...  ...          ...                 ...           ...
29506       HS-grad   30            0               White           NaN
29507          10th   32            0               White           NaN
29508  Some-college   22            0               White           NaN
29509       HS-grad   31            0               White           NaN
29510       HS-grad   29            0               White           NaN
29511     Bachelors   35            0               White           NaN
29512     Bachelors   30            0  Asian-Pac-Islander           NaN
29513     Doctorate   34            0               White           NaN
29514     Bachelors   54            0  Asian-Pac-Islander           NaN
29515  Some-college   37            0               White           NaN
29516          12th   22            0               Black           NaN
29517     Bachelors   34            0               White           NaN
29518       HS-grad   30            0               Black           NaN
29519     Bachelors   38        15020               Black           NaN
29520     Doctorate   71            0               White           NaN
29521       HS-grad   45            0               White           NaN
29522       HS-grad   41            0               Black           NaN
29523       HS-grad   72            0               White           NaN
29524       Masters   31            0               Other           NaN
29525       HS-grad   43            0               White           NaN
29526  Some-college   43            0               White           NaN
29527  Some-college   43            0               White           NaN
29528          10th   32            0  Amer-Indian-Eskimo           NaN
29529       Masters   32            0  Asian-Pac-Islander           NaN
29530       Masters   53            0               White           NaN
29531  Some-college   22            0               White           NaN
29532       HS-grad   40            0               White           NaN
29533       HS-grad   58            0               White           NaN
29534       HS-grad   22            0               White           NaN
29535       HS-grad   52        15024               White           NaN

       hours-per-week     sex classification
0                  40    Male          <=50K
1                  13    Male          <=50K
2                  40    Male          <=50K
3                  40    Male          <=50K
4                  40  Female          <=50K
5                  40  Female          <=50K
6                  16  Female          <=50K
7                  45    Male           >50K
8                  50  Female           >50K
9                  40    Male           >50K
10                 80    Male           >50K
11                 40    Male           >50K
12                 30  Female          <=50K
13                 45    Male          <=50K
14                 35    Male          <=50K
15                 40    Male          <=50K
16                 50    Male          <=50K
17                 45  Female           >50K
18                 60    Male           >50K
19                 20  Female          <=50K
20                 40    Male          <=50K
21                 40    Male          <=50K
22                 40  Female          <=50K
23                 40    Male           >50K
24                 40    Male          <=50K
25                 60    Male           >50K
26                 80    Male          <=50K
27                 40    Male          <=50K
28                 44    Male          <=50K
29                 40    Male          <=50K
...               ...     ...            ...
29506              55    Male          <=50K
29507              40    Male          <=50K
29508              40    Male          <=50K
29509              40  Female          <=50K
29510              35  Female          <=50K
29511              55  Female           >50K
29512              99  Female          <=50K
29513              60    Male           >50K
29514              50    Male           >50K
29515              39  Female          <=50K
29516              35    Male          <=50K
29517              55  Female           >50K
29518              46    Male          <=50K
29519              45  Female           >50K
29520              10    Male           >50K
29521              40  Female          <=50K
29522              32  Female          <=50K
29523              25    Male          <=50K
29524              30  Female          <=50K
29525              40    Male          <=50K
29526              40  Female          <=50K
29527              50    Male          <=50K
29528              40    Male          <=50K
29529              11    Male          <=50K
29530              40    Male           >50K
29531              40    Male          <=50K
29532              40    Male           >50K
29533              40  Female          <=50K
29534              20    Male          <=50K
29535              40  Female           >50K

[29536 rows x 8 columns]
education          object
age                 int64
capital-gain       object
race               object
capital-loss      float64
hours-per-week      int64
sex                object
classification     object
dtype: object

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [29]:
print(df.education.unique())# .. your code here ..

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' '7th-8th'
 'Doctorate' '5th-6th' '10th' '1st-4th' 'Preschool' '12th']

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [33]:
ordered_education = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Doctorate']
df.education = df.education.astype("category",
  ordered=True,
  categories=ordered_education
).cat.codes

df = pd.get_dummies(df, columns=['race'])
print (df.sex.unique())
# sex categories: ['Male' 'Female']
df = pd.get_dummies(df, columns=['sex'])
print (df.classification.unique())
# classification categories: ['<=50K' '>50K']
df = pd.get_dummies(df, columns=['classification'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py:490: RuntimeWarning: Values and categories have different dtypes. Did you mean to use
'Categorical.from_codes(codes, categories)'?
  return self.make_block(Categorical(self.values, **kwargs))
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\internals.py:490: RuntimeWarning: None of the categories were found in values. Did you mean to use
'Categorical.from_codes(codes, categories)'?
  return self.make_block(Categorical(self.values, **kwargs))

['Male' 'Female']
['<=50K' '>50K']

Lastly, print out your dataframe!

In [34]:
print(df)# .. your code here ..# .. your code here ..

       education  age capital-gain  capital-loss  hours-per-week  \
0             -1   39         2174           NaN              40
1             -1   50            ?           NaN              13
2             -1   38            ?           NaN              40
3             -1   53            ?           NaN              40
4             -1   28            0           NaN              40
5             -1   37            0           NaN              40
6             -1   49            0           NaN              16
7             -1   52            0           NaN              45
8             -1   31        14084           NaN              50
9             -1   42         5178           NaN              40
10            -1   37            0           NaN              80
11            -1   30            0           NaN              40
12            -1   23            0           NaN              30
13            -1   34            0           NaN              45
14            -1   25            0           NaN              35
15            -1   32            0           NaN              40
16            -1   38            0           NaN              50
17            -1   43            0           NaN              45
18            -1   40            0           NaN              60
19            -1   54            0           NaN              20
20            -1   35            0           NaN              40
21            -1   43            0        2042.0              40
22            -1   59            0           NaN              40
23            -1   56            0           NaN              40
24            -1   19            0           NaN              40
25            -1   54            0           NaN              60
26            -1   39            0           NaN              80
27            -1   49            0           NaN              40
28            -1   20            0           NaN              44
29            -1   45            0        1408.0              40
...          ...  ...          ...           ...             ...
29506         -1   30            0           NaN              55
29507         -1   32            0           NaN              40
29508         -1   22            0           NaN              40
29509         -1   31            0           NaN              40
29510         -1   29            0           NaN              35
29511         -1   35            0           NaN              55
29512         -1   30            0           NaN              99
29513         -1   34            0           NaN              60
29514         -1   54            0           NaN              50
29515         -1   37            0           NaN              39
29516         -1   22            0           NaN              35
29517         -1   34            0           NaN              55
29518         -1   30            0           NaN              46
29519         -1   38        15020           NaN              45
29520         -1   71            0           NaN              10
29521         -1   45            0           NaN              40
29522         -1   41            0           NaN              32
29523         -1   72            0           NaN              25
29524         -1   31            0           NaN              30
29525         -1   43            0           NaN              40
29526         -1   43            0           NaN              40
29527         -1   43            0           NaN              50
29528         -1   32            0           NaN              40
29529         -1   32            0           NaN              11
29530         -1   53            0           NaN              40
29531         -1   22            0           NaN              40
29532         -1   40            0           NaN              40
29533         -1   58            0           NaN              40
29534         -1   22            0           NaN              20
29535         -1   52        15024           NaN              40

       race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  race_Black  \
0                            0                        0           0
1                            0                        0           0
2                            0                        0           0
3                            0                        0           1
4                            0                        0           1
5                            0                        0           0
6                            0                        0           1
7                            0                        0           0
8                            0                        0           0
9                            0                        0           0
10                           0                        0           1
11                           0                        1           0
12                           0                        0           0
13                           1                        0           0
14                           0                        0           0
15                           0                        0           0
16                           0                        0           0
17                           0                        0           0
18                           0                        0           0
19                           0                        0           1
20                           0                        0           1
21                           0                        0           0
22                           0                        0           0
23                           0                        0           0
24                           0                        0           0
25                           0                        1           0
26                           0                        0           0
27                           0                        0           0
28                           0                        0           1
29                           0                        0           0
...                        ...                      ...         ...
29506                        0                        0           0
29507                        0                        0           0
29508                        0                        0           0
29509                        0                        0           0
29510                        0                        0           0
29511                        0                        0           0
29512                        0                        1           0
29513                        0                        0           0
29514                        0                        1           0
29515                        0                        0           0
29516                        0                        0           1
29517                        0                        0           0
29518                        0                        0           1
29519                        0                        0           1
29520                        0                        0           0
29521                        0                        0           0
29522                        0                        0           1
29523                        0                        0           0
29524                        0                        0           0
29525                        0                        0           0
29526                        0                        0           0
29527                        0                        0           0
29528                        1                        0           0
29529                        0                        1           0
29530                        0                        0           0
29531                        0                        0           0
29532                        0                        0           0
29533                        0                        0           0
29534                        0                        0           0
29535                        0                        0           0

       race_Other  race_White  sex_Female  sex_Male  classification_<=50K  \
0               0           1           0         1                     1
1               0           1           0         1                     1
2               0           1           0         1                     1
3               0           0           0         1                     1
4               0           0           1         0                     1
5               0           1           1         0                     1
6               0           0           1         0                     1
7               0           1           0         1                     0
8               0           1           1         0                     0
9               0           1           0         1                     0
10              0           0           0         1                     0
11              0           0           0         1                     0
12              0           1           1         0                     1
13              0           0           0         1                     1
14              0           1           0         1                     1
15              0           1           0         1                     1
16              0           1           0         1                     1
17              0           1           1         0                     0
18              0           1           0         1                     0
19              0           0           1         0                     1
20              0           0           0         1                     1
21              0           1           0         1                     1
22              0           1           1         0                     1
23              0           1           0         1                     0
24              0           1           0         1                     1
25              0           0           0         1                     0
26              0           1           0         1                     1
27              0           1           0         1                     1
28              0           0           0         1                     1
29              0           1           0         1                     1
...           ...         ...         ...       ...                   ...
29506           0           1           0         1                     1
29507           0           1           0         1                     1
29508           0           1           0         1                     1
29509           0           1           1         0                     1
29510           0           1           1         0                     1
29511           0           1           1         0                     0
29512           0           0           1         0                     1
29513           0           1           0         1                     0
29514           0           0           0         1                     0
29515           0           1           1         0                     1
29516           0           0           0         1                     1
29517           0           1           1         0                     0
29518           0           0           0         1                     1
29519           0           0           1         0                     0
29520           0           1           0         1                     0
29521           0           1           1         0                     1
29522           0           0           1         0                     1
29523           0           1           0         1                     1
29524           1           0           1         0                     1
29525           0           1           0         1                     1
29526           0           1           1         0                     1
29527           0           1           0         1                     1
29528           0           0           0         1                     1
29529           0           0           0         1                     1
29530           0           1           0         1                     0
29531           0           1           0         1                     1
29532           0           1           0         1                     0
29533           0           1           1         0                     1
29534           0           1           0         1                     1
29535           0           1           1         0                     0

       classification_>50K
0                        0
1                        0
2                        0
3                        0
4                        0
5                        0
6                        0
7                        1
8                        1
9                        1
10                       1
11                       1
12                       0
13                       0
14                       0
15                       0
16                       0
17                       1
18                       1
19                       0
20                       0
21                       0
22                       0
23                       1
24                       0
25                       1
26                       0
27                       0
28                       0
29                       0
...                    ...
29506                    0
29507                    0
29508                    0
29509                    0
29510                    0
29511                    1
29512                    0
29513                    1
29514                    1
29515                    0
29516                    0
29517                    1
29518                    0
29519                    1
29520                    1
29521                    0
29522                    0
29523                    0
29524                    0
29525                    0
29526                    0
29527                    0
29528                    0
29529                    0
29530                    1
29531                    0
29532                    1
29533                    0
29534                    0
29535                    1

[29536 rows x 14 columns]